<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baraja CDN</title>
</head>
<body>
<div class="container">
	<h1>Welcome to Baraja CDN</h1>
	<p>
		Baraja hosts hundreds of&nbsp;publicly available assets through a&nbsp;global
		Internet network that ensures the rapid distribution&nbsp;of content around the&nbsp;world.
	</p>
	<h2>How does content distribution work?</h2>
	<p>
		All published content is&nbsp;stored in&nbsp;a&nbsp;cloud storage
		on&nbsp;<a href="https://github.com/baraja-core/cdn" target="_blank">GitHub</a>,
		from where it&nbsp;is&nbsp;regularly distributed to&nbsp;all public web&nbsp;servers.
		Worldwide distribution is&nbsp;provided by&nbsp;the
		<a href="https://www.cloudflare.com/cdn/" target="_blank">Cloudflare infrastructure</a>,
		which provides long-distance optical links and connections to&nbsp;local operators around the world.
		The required content will always be delivered to&nbsp;you from the nearest data center in&nbsp;your location.
		The main data center is&nbsp;located in&nbsp;the Czech&nbsp;Republic in&nbsp;Prague (Central&nbsp;Europe).
	</p>
	<h2>How much does CDN use cost?</h2>
	<p>
		Use of&nbsp;the Baraja&nbsp;CDN has always been, is, and will be&nbsp;free for all users.
		We do&nbsp;not limit data transfers or the number of&nbsp;requests.
		Some requests may be&nbsp;cached.
	</p>
	<h2>Who is the network for?</h2>
	<p>
		The CDN network is&nbsp;designed to&nbsp;ensure the stable operation of&nbsp;all Baraja services.
		The CDN was built to&nbsp;ensure fast distribution of static content to all users,
		no matter where they are physically located.
		The network was built with the global growth of the Internet in&nbsp;mind.
		Only clients of&nbsp;any of&nbsp;the services can add new files for distribution.
	</p>
	<h2>Is the CDN source code transparent?</h2>
	<p>
		Yes, you can find all source code publicly
		on&nbsp;<a href="https://github.com/baraja-core/cdn" target="_blank">GitHub</a>.
		Anyone can contribute to&nbsp;the source code.
	</p>
</div>
<style>
	* {
		font-family: Arial;
	}

	p {
		line-height: 1.5em;
	}

	.container {
		margin: auto;
		padding: 1em .5em;
		max-width: 800px;
	}
</style>
</body>
</html>
